# Ignorar o ambiente virtual
venv/
*.pyc
__pycache__/

# Arquivos de dados e logs temporários
*.log
*.sqlite3
.env

# Ignorar arquivos do IDE (ex: VS Code)
.vscode/

# Ignorar arquivos gerados automaticamente
dist/
build/

# Ignorar arquivos de dados específicos do sistema operacional
.DS_Store
Thumbs.db